// Breakpoints
$larger-breakpoint: 100em;
$large-breakpoint: 65em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #FF8D00;
$header-bg-color-secondary: #FFCB0D;

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-text-font: Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', Microsoft YaHei, STHeiti, sans-serif;
$body-link-color: #95B55B;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;


