.paginate-arrow {
	display: inline-block;
	border: 1px solid gray;
	height: 30px;
	padding: 0 8px;
	border-radius: 5px;
	background-color: gray;
	color: white;
}

.paginate-arrow:hover {
	cursor: not-allowed;
}

.paginate-arrow-active {
	display: inline-block;
	border: 1px solid #1e6bb8;
	height: 30px;
	padding: 0 8px;
	border-radius: 5px;
	background-color: #1e6bb8;
	color: white;
}

.post-title {
	font-size: .8em;
}

.author, .date {
	font-size: .4em;
	color: grey;
}